aside{
    border: 1px solid;
    width: 30vw;
    height: 85vh;
    position: fixed;
    left: 4.5vw;
    top: 6vh;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #c6fce8;
    border-radius: 20px;

}

aside img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid;
    margin-bottom: 20px;
}

aside small{
    margin-left: 20px;
}

aside h2{
    margin-left: 20px;
    margin-bottom: 10px;
}

aside p{
    text-align: justify;
    margin-bottom: 50px
}

aside ul{
    display: flex;
    justify-content: space-around;
}

aside button{
    list-style: none;
    border: 2px solid black;
    padding: 10px 14px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    cursor: pointer;
}

aside button:hover{
    box-shadow: 3px 3px black;
    transform: translate(-1px, -1px);
    transition: all 0.2s ease;
}

aside a{
    text-decoration: none;
    color: #c6fce8;
}

aside .instagram{
    background-color: #dd2a7b;
    color: #c6fce8;
}

aside .tiktok{
    background-color: #c6fce8;
}

aside .wa{
    background-color: #21d375;
    color: #c6fce8;
}